*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    height: auto;
    width: 100%;
    /* padding: 0px 20px 0px 25px; */
}

.head{
    height: 75px;
    width: 100%;
    background-color: rgb(17, 180, 221);
    display: flex;
    align-items: center;
    justify-content: center;
}


#shp-name{
    font-size: 24px;
    color: cornsilk;
    font-weight: bold;
    letter-spacing: .6px;
    text-transform: uppercase;
    
}

.main{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 0.7fr 1fr;

}

.items{
    background-image: url(../Images/bgs.jpg);
}
.details{
    display: flex;
    flex-direction: column;
}

#det{
    height: 35px;
    width: 220px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    padding-left: 6px;
    color: #495057;
    box-shadow: 1px 1px 2px 1px darkgrey;
}
#det1{
    height: 35px;
    width: 220px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    padding-left: 6px;
    margin-left: 68px;
    color: #495057;
    box-shadow: 1px 1px 2px 1px darkgrey;
}
#det2{
    height: 35px;
    width: 220px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    padding-left: 6px;
    color: #495057;
    box-shadow: 1px 1px 2px 1px darkgrey;
}
#det3{
    height: 35px;
    width: 220px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    padding-left: 6px;
    color: #495057;
    box-shadow: 1px 1px 2px 1px darkgrey;
}
#det4{
    height: 35px;
    width: 220px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    padding-left: 6px;
    color: #495057;
    box-shadow: 1px 1px 2px 1px darkgrey;
}
#det5{
    height: 35px;
    width: 220px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    padding-left: 6px;
    color: #495057;
    box-shadow: 1px 1px 2px 1px darkgrey;
}
#det6{
    height: 35px;
    width: 220px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    padding-left: 6px;
    color: #495057;
    box-shadow: 1px 1px 2px 1px darkgrey;
}
.custom-detail1 {
    margin-top: 20px;
    padding-left: 15px;
    font-weight: bold;
    
}
.custom-detail2{
    margin-top: 20px;
    padding-left: 15px;
    font-weight: bold;
}
input{
    margin-left: 40px;
}

#add-btn{
    height: 35px;
    width: 320px;
    background-color:#007bff;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 80px;
    cursor: pointer;
    outline: none;
}



.total-list{
    background-image: url(../Images/total.jpg);
    height: 133px;
    background-position-y: -426px;
    background-position-x: -130px;
}

.items-order{
    height: 597px;
    background-image: url(../Images/supermkt.jpg);
    background-repeat: no-repeat;
    background-size: 1225px 600px;
}

#add-btn:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.top-head{
    z-index: 1;
    background-color: white;
    margin-top: 24px;
    margin-left: 50px;
    padding: 8px;
    border-radius: 10px;
}

#det::-webkit-outer-spin-button,
#det::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#det1::-webkit-outer-spin-button,
#det1::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#t-con{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: .4px;
    /* padding: 10px; */
    
}



.top-head{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 75%;
}

#total1{
    font-size: 20px;
    margin-left:370px;
     margin-top: 23px;
    padding: 7px;
    background-color:#add;
    width: 19%;
    display: flex;
    border-radius: 10px;
    
}
#total2{
    font-size: 20px;
    margin-left: 370px;
     margin-top: 18px;
    padding: 7px;
    background-color:#add;
    width: 19%;
    display: flex;
    border-radius: 10px;
    
}
#total3{
    font-size: 20px;
    margin-left: 343px;
     margin-top: 13px;
    padding: 7px;
    background-color:#add;
    width: 25%;
    display: flex;
    border-radius: 10px;
    
}
#tot-amnt1{
    margin-left: 10px;
}
#tot-amnt2{
    margin-left: 10px;
}
#tot-amnt3{
    margin-left: 10px;
}

#sub-cal{
    height: 34px;
    width: 12%;
    margin-left: 200px;
    margin-top: 16px;
    border-radius: 5px;
    outline: none;
    background-color:#4e3939;
    color:#f7f2f2;
    font-size: 14px;
}

#sub-cal:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(42, 35, 35);
}

td{
    text-align: center;
}

 h2{
    font-size: 15px;
}

#t-head1{
    display: flex;
    flex-direction: column;
}

#detail1{
    padding-bottom: 4px;
}

#detail2 div{
    padding: 6px 1px;
}
#detail3 div{
    padding: 6px 5px;
}
#detail4 div{
    padding: 6px;
    text-align: center;
}
#detail5 div{
    padding: 6px;
}

#detail5 p{
    padding: 6px;
}

#detail6 button{
    
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    height: 24px;
    padding: 6px;
    border-radius: 5px;
    background-color: rgb(17,180,246);
    color: white;
    font-size: 11px;
    font-weight: 700;
    outline: none;
    padding-bottom: 19.7px;
}

#detail6 button:hover{
    color:#565656;;
    background-color:rgb(167, 236, 238);
    cursor: pointer;
}