*{
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.head{
	width: 100%;
	height: 35px;
	background-color: violet;
	display: flex;
	justify-content: center;
	font-size: 1.8em;
	font-weight: bolder;
	font-style: italic;
	box-shadow: 1px 1px 2px grey;
	text-shadow: 1px 1px 2px grey;
}
#table{
	height:580px;
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 20px;
	margin-top: 20px;
}
.tab-odd{
	background-color: lightblue;
	border-radius: .8em;
	box-shadow: 2px 2px 2px 1px grey;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4em;
	font-weight: bolder;


}
.tab-even{
	background-color: black;
	color: white;
	border-radius: .8em;
	box-shadow: 2px 2px 2px 1px grey;
	display: flex;
	/*flex-direction: column;*/
	justify-content: center;
	align-items: center;
	font-size: 1.4em;
	font-weight: bolder;


}